<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.egemendurmus.oneclean">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider137239440021831"
            android:exported="true" />

        <activity
            android:name=".signup.sign_up"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".signup.alert_activity" />
        <activity
            android:name=".signup.sms_verification"
            android:label="@string/title_activity_sms_verification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menuorders.menuorders"
            android:label="@string/title_activity_menuorders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".menu_orders.menu" />
        <activity
            android:name=".ordermenu.customer_drawer"
            android:label="@string/title_activity_customer_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>